.App {
  text-align: center;
  background-color: #BF9EDF;
}

img {
  max-width: 40%;
  max-height: 40vh;
  image-orientation: from-image;
}

.active {
  background-color: green !important;
}

.tag {
  display: inline-block;
  margin: 0.5rem 2rem
}

.tags-container {
  width: 60%;
  margin-left: 20%;
}

.caption p {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.pic-container {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

h1 {
  font-family: Comic Sans MS;
  color: #A1EAF4;
}